@import "./_var.scss";
@import "./_mixin.scss";
@import "./_responsive.scss";

.comment_area {
  .view-replies {
    color: $pink_blackpink;
    font-size: 13px;
    cursor: pointer;

    .icon {
      font-size: 13px;
      position: relative;
      bottom: 2.5px;
    }
  }
  .replies-area {
    ol {
      li {
        margin-left: 0px;
      }
    }
  }

  .load-more {
    color: $gray_01 !important;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}

.comment-form {
  .v-input__slot {
    border: 1px solid rgba(#434857, 0.7);
    border-radius: 2px;
    align-items: center;
    color: inherit;
    display: flex;
    margin-bottom: 8px;
    min-height: inherit;
    position: relative;
    transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
    width: 100%;
    padding: 0 12px;
    cursor: text;
    transition: background 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);

    .v-text-field__slot {
      align-items: center;
      display: flex;
      flex: 1 1 auto;
      position: relative;
      cursor: text;
      height: 20px;
      line-height: 20px;

      label {
        left: 0px;
        right: auto;
        position: absolute;
        color: $gray_01 !important;
        top: calc(50% - 15px);
        width: 100%;
      }
      input {
        color: $gray_01;
        background: transparent;
        border: none;
        max-height: 32px;
        flex: 1 1 auto;
        line-height: 20px;
        padding: 8px 0;
        max-width: 100%;
        min-width: 0;
        width: 100%;

        &:focus {
          outline: none;
        }
      }
    }

    .v-input__append-inner {
      align-items: center;
      margin-top: 0;

      .v-btn {
        border: none;
        background: $pink_blackpink;
        color: $white_01;
        padding: 0 16px;
        align-items: center;
        border-radius: 2px;
        display: inline-flex;
        height: 36px;
        flex: 0 0 auto;
        font-size: 14px;
        font-weight: 500;
        justify-content: center;
        margin: 6px 8px;
        min-width: 88px;
        outline: 0;
        text-transform: uppercase;
        text-decoration: none;
        transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1), color 1ms;
        position: relative;
        vertical-align: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        cursor: pointer;

        &:hover {
          background: $pink_hover;
        }
        &:before {
          color: inherit;
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          height: 100%;
          opacity: 0.12;
          transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
          width: 100%;
        }
      }
      .v-btn__content {
        align-items: center;
        border-radius: inherit;
        color: inherit;
        display: flex;
        flex: 1 0 auto;
        justify-content: center;
        margin: 0 auto;
        position: relative;
        transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
        white-space: nowrap;
        width: inherit;
      }
    }
  }
}

.contact-btn {
  background: $pink_blackpink;
}

.single_comment_area {
  &:after {
    display: none;
  }
}

.comment-wrapper {
  margin-bottom: 15px;
  .comment-content {
    a.comment-favourite,span.comment-reply {
      color: $purple_01;
      font-size: 14px;
      min-width: 40px;
      height: 40px;
      line-height: 47px;
      border: none;
      cursor: pointer;

      &:hover {
        color: $pink_blackpink;
      }
    }
  }
  .comment-date {
    color: #89929a;
    font-size: 12px;
    border: none;
    text-transform: none;
  }
  .comment-reply {
    margin: 0;
    margin-bottom: 2%;
  }
}

.tags-area,
.related-post-area,
.comment_area {
  border-bottom: 1px solid rgba($gray_01, 0.7);
}

.tags-area {
  a {
    margin-right: 10px;
    background: $gray_01;
    color: $white_01;
    &:hover {
      background-color: $pink_blackpink;
    }
  }
}

.single_blog_area {
  ul {
    li {
      &:before {
        color: $pink_blackpink;
      }
      color: $gray_01;
    }
  }
}

.yummy-blockquote {
  padding-left: 30px;
  border-left: 2px solid $pink_blackpink;
}

.instagram_gallery_item {
  img {
    min-height: 100%;
    min-width: 100%;
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    /* IE 5-7 */
    filter: alpha(opacity=0);
    /* modern browsers */
  }
  .hover_overlay {
    @include background-opacity($pink_blackpink, 0.7);
  }
}

.breadcumb-nav {
  .breadcrumb {
    .breadcrumb-item {
      &.active {
        color: $white_01;
      }

      a {
        color: $gray_01;
      }
    }
  }
}

.single_catagory {
  .catagory-title,
  .catagory-title2 {
    position: absolute;
    text-align: center;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;

    a > h5 {
      margin-bottom: 0;
      -webkit-transition-duration: 500ms;
      transition-duration: 500ms;
    }
  }
  .catagory-title {
    width: 200px;
    height: 50px;
    top: 50%;
    border-radius: 30px;
    background-color: #fff;
    background: $black_01;

    h5 {
      line-height: 50px;
      color: $white_01;
    }
  }

  .catagory-title2 {
    @include background-linear-gradient(0, $pink_blackpink, $transparent 75%);
    height: 70px;
    position: absolute;
    bottom: -35px;
    width: 100%;
    border-radius: 0;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;

    h5 {
      line-height: 90px;
      color: $white_01;
    }
  }

  &:hover {
    .catagory-title {
      background-color: $pink_blackpink;
    }
  }
}

h4.post-headline {
  color: $white_01;
}

.add-widget {
  .add-text {
    a.add-btn {
      border: 1px solid $pink_03;
      color: $pink_03;
      &:hover {
        background-color: $pink_02;
        color: $black_01;
      }
    }
  }
}

.newsletter-form {
  button {
    background: $pink_blackpink;
  }
}

.welcome-single-slide {
  .project_title {
    @include background-opacity($pink_blackpink, 0.8);
  }
}

.widget-title {
  & > h6 {
    background: $pink_blackpink;
  }
}

.single-post {
  h2,
  h4 {
    &:hover {
      color: $pink_blackpink;
    }
  }
  .post-author,
  .post-date,
  .post-favourite,
  .post-comments,
  .post-share {
    a {
      &:hover {
        color: $pink_02;
      }
    }
  }

  .read-more {
    &:hover {
      color: $pink_02;
      border-color: $pink_02;
    }
  }
}

.navbar.navbar-expand-lg {
  .navbar-nav {
    .nav-item.active {
      .nav-link {
        color: $pink_blackpink;
      }
    }
    .nav-link {
      &:hover {
        color: $pink_blackpink;
      }
    }
  }
}

#scrollUp {
  background: $pink_02;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: $white_01;
}

// Header
.top_header_area {
  border: unset;
  .top_social_bar > a {
    color: $white_01;
    &:hover {
      color: $pink_blackpink;
    }
  }

  .signup-search-area a {
    color: $white_01;
  }
}

.header_area,
.footer_area {
  .yummy-logo {
    img {
      max-width: 300px;
    }
  }
  .navbar.navbar-expand-lg .navbar-nav .nav-link {
    color: $white_01;
  }
}

#preloader {
  background: url(/public/img/bg/body_bg.jpg);
  z-index: 9999;
}

.yummy-load {
  border-color: $black_01 $black_01 $pink_blackpink;
}

// Responsive
.navbar-toggler {
  background-color: $pink_blackpink;
}
