// Pink
$pink_01: #ffa6fc;
$pink_02: #ff94e0;
$pink_03: #ff76d8;
$pink_04: #ff59c7;
$pink_05: #F8567B;
$pink_blackpink: #f5a8bc;

$pink_rgb_01: rgba(255, 166, 252, 1);
$pink_rgb_02: rgba(255, 148, 224, 1);
$pink_rgb_03: rgba(255, 118, 216, 1);
$pink_rgb_04: rgba(255, 89, 199, 1);
$pink_rgb_blackpink: rgba(245, 168, 188, 1);

// Black
$black: #000;
$black_01: #464a4e;

$black_rgb: rgba(0, 0, 0, 1);

// Gray
$gray_01: #868e96;

// White
$white: #fff;
$white_01: #ebebeb;


// Transparent
$transparent: rgba(255, 0, 0, 0);